<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="icon" href="{{url_for('static', filename='Horoscope_dating.png')}}">
    <title>Find your Match!</title>
</head>
<body style="background-image: url({{url_for('static', filename='bg2.jpg')}}); background-size: 100% 100%; background-attachment: fixed;">
    <div class="container">
        <div class="row">
            <div class="col align-self-center">
                <br>
                <h4>People You Linked With:</h4><br>
                {% for person in listings %}
                {% if person[6] != [None] %}
                <b>{{person[0]}}</b><br>
                Email: {{person[1]}}<br>
                Phone Number: {{person[2]}}<br>
                Bio: <br>{{person[5]}}<br>
                <div class="btn-group">
                    <a href="/relation?id={{person[6]}}&type=block"><button type="button" class="btn btn-primary">Remove</button></a>
                </div><br><br>
                {% endif %}
                {% endfor %}
                <p class="lead">
                    <a class="btn btn-primary" href="/welcome" role="button">Go Back</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>
