<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="icon" href="{{url_for('static', filename='Horoscope_dating.png')}}">
    <title>Find your Match!</title>
</head>
<body>
    <h4>Here are the people who you have linked with:</h4><br>
    {% for person in listings %}
    {% if person[5] != [None] %}
    {{person[0]}}<br>
    Distance: {{person[6]}} miles<br>
    Email: {{person[1]}}<br>
    Phone Number: {{person[2]}}<br>
    Bio: {{person[3]}}<br>
    Location: {{person[4]}}<br>
    <div class="btn-group">
        <button type="button" class="btn btn-primary" href="/relation?id={{person[5]}}&type=block">Remove</button>
    </div><br><br>
    {% endif %}
    {% endfor %}
    <p class="lead">
        <a class="btn btn-primary" href="/welcome" role="button">Go Back</a>
    </p>
</body>
</html>
