<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% for error in get_flashed_messages() %}
      {{error}}
    {% endfor %}
    <form class="" action="/createAccount" method="post">
      Name: <input type="text" name="name">
      Username: <input type="text" name="username">
      Password: <input type="password" name="password">
      Retype-Password: <input type="password" name="password-confirm">
      Date of Birth: <input type="date" name="dob">
      Email Address: <input type="email" name="email">
      Phone Numer: <input type="number" name="phone">
      Bio: <textarea name="bio" rows="8" cols="80"></textarea>
      <input type="submit" value="Create Account">
    </form>
  </body>
</html>
