<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="icon" href="{{url_for('static', filename='Horoscope_dating.png')}}">
    <title>Find your Match!</title>
  </head>
  <body>
      <h4>Here are the people who you have requested:</h4><br>
      {% for person in listings %}
      {% if person[6] != [None] %}
      {{person[0]}}<br>
      Personality Compatibility: {{person[1]}}<br>
      Sexual Compatibility: {{person[2]}}<br>
      In-Laws Compatibilty: {{person[3]}}<br>
      Future Success: {{person[4]}}<br>
      Bio: {{person[5]}}<br>
      <div class="btn-group">
          <a href="/relation?id={{person[6]}}&type=block"><button type="button" class="btn btn-primary">Remove</button></a>
      </div><br><br>
      {% endif %}
      {% endfor %}
      <p class="lead">
          <a class="btn btn-primary" href="/welcome" role="button">Go Back</a>
      </p>
  </body>
</html>
