<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="icon" href="../doc/Horoscope_dating.png">
    <meta charset="utf-8">
    <title>StarCrossed</title>
</head>
<body>
    <div class="jumbotron">
        <h2 class="display-4">Welcome to StarCrossed, {{name}}!</h2>
        <p class="lead">Here is the information gathered based on your profile.</p>
        <hr class="my-4">
        <p>Click here to <a href="/hotsingles">find your match</a></p>
        <p class="lead">
            <a class="btn btn-primary" href="/logout" role="button">Logout</a>
        </p>
    </div>

    Welcome to StarCrossed, {{name}}!<br>
    Daily Horoscope: {{horoscope}}<br>
    <a href="/hotsingles">Shoot Your Shot</a>
    <a href="/recieved_requests">People Into You!</a>
    <a href="/pending_requests">People You've Requested</a>
    <a href="/accepted_requests">People You've Linked With</a>
    <a href="/logout">logout</a>

</body>
</html>
